@import 'https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:200,400';

$header-font: 'Raleway', sans-serif;
$main-font: 'Lato', sans-serif;
$blue: rgb(116, 145, 187);
$red: rgb(184, 38, 6);
$white: rgb(251, 250, 232);
$pink: rgb(203, 82, 66);
$black: rgb(17, 17, 17);
$grey: rgb(51, 51, 51);
