.profile-close {
  font-size: 3rem;
  height: 300px;
  width: 300px;
  border: 3px solid $grey;
  border-radius: 150px;
  position: absolute;
  color: $grey;
  background: none;
  transition: color .3s linear;
  top: 250px;
  right: 150px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  animation: throb-border 4s ease-in-out infinite;
  animation-delay: 12s;
  cursor: pointer;

  &:hover {
    color: $pink;
  }

  @mixin atMedium {
    height: 200px;
    width: 200px;
    font-size: 2rem;
    top: 175px;
    right: 75px
  }

  @mixin atSmall {
    font-size: 1rem;
    height: 100px;
    width: 100px;
    top: 16%;
    right: 20px;
  }

  @mixin atVerySmall {
    top: 12%;
    right: 20px;
  }

  &__text {
    animation: rot 20s linear infinite;
    animation-delay: 12s;
  }
}
